* {
  font-family: century-gothic, sans-serif;
}

html {
  font-weight: bold;
  --light-grey: rgb(230, 232, 237);
  --light-blue: rgb(16, 162, 252);
  --box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
}

.dashboard {
  background-color: var(--light-blue);
  grid-row: 1/-1;
  color: white;
  padding: 20px;
  text-align: left;
}

.header {
  background-color: rgb(255, 255, 255);
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.content {
  background-color: var(--light-grey);
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  padding: 20px 10px;
  grid-template-columns: repeat(2, 1fr) 275px;
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  * > h4 {
    height: 1em;
    margin: 0;
    padding: 0;
  }
  .cards-div {
    grid-column: span 2;
    grid-row: span 6;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
      grid-template-rows: repeat(auto-fill, minmax(200px ,1fr));
      gap: 20px;
    }
  }
  .cards,
  .card {
    height: auto;
    background-color: white;
    border-left: 7px solid rgb(228, 171, 0);
    border-radius: 5px;
    padding: 20px;
    box-shadow: var(--box-shadow);
  }
  .announcements {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-column: 3/4;
    grid-row: span 3;
    overflow-y: auto;
  }
  .trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    grid-column: 3/4;
    grid-row: span 3;
    overflow-y: auto;
    div > div {
      border-bottom: none !important;
      margin:5px 0;
    }
  }
}

.description {
  font-weight: 100;
  color: grey;
}

.small {
  font-size: 0.8em;
}
.card {
  height: 100%;
  border-left: none !important;

  div {
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    * {
      margin: 0;
    }
  }
}

.empty {
  opacity: 0;
}

.dashboard > h1 {
  margin-top: 0;
}

span > h3,
span > h1 {
  display: inline-block;
}
span {
  display: block;
}

i::before,
.material-icons {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

i::before {
  margin-right: 16px;
}

.dashboard > span {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.dashboard > span > :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

#prof-img1 {
  width: 50px;
  height: 50px;
}

#prof-img2 {
  width: 40px;
  height: 40px;
}

#prof-img3 {
  width: 30px;
  height: 30px;
}

.search {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-items: flex-end;
  align-items: center;
  input {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: var(--light-grey);
    font-family: inherit;
  }
  input:focus-visible {
    outline: none;
  }
  i {
    padding-left: 5px;
  }
}

.profile {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  img {
    grid-column: 1/2;
    justify-self: center;
  }
  span > * {
    margin: 0;
  }
}

.account {
  grid-column: 3/4;
  grid-row: 1/2;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  * {
    padding: 5px;
  }
  h4 {
    display: inline;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  button {
    width: 90px;
    padding: 10px 0;
    color: white;
    background-color: var(--light-blue);
    border: none;
    border-radius: 20px;
    font-family: inherit;
    font-weight: bold;
  }
}
